.Cart {
	position: relative;

	a {
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	svg {
		display: block;
		height: var(--i-m);
		width: var(--i-m);
		fill: var(--secondary);
	}
}
