.Logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--secondary);
		text-decoration: none;
		gap: var(--g-s);

		svg {
			display: block;
			height: var(--i-xl);
			width: var(--i-xl);
			fill: var(--secondary);
		}
	}
}

@media screen and (max-width: 300px) {
	.Logo {
		a {
			flex-direction: column;
		}
	}
}
