.Indicator {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	border-radius: 50%;
	border: 1px solid var(--secondary);
	background-color: var(--yellow);
	color: var(--primary);
	width: var(--i-xs);
	height: var(--i-xs);
}
