.Favorite {
	position: relative;
	width: 100%;

	a {
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	svg {
		display: block;
		height: var(--i-l);
		width: var(--i-l);
		fill: var(--secondary);
	}
}
