.DropDownMenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	svg {
		fill: var(--primary);
	}
}

@media screen and (max-width: 770px) {
	.DropDownMenu {
		display: block;
		background-color: var(--secondary);
		transition-duration: 200ms;
		overflow: hidden;
		z-index: 1000;

		nav {
		}

		ul {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			flex-direction: column;
			height: 25rem;
		}

		li {
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid var(--primary);
		}

		a {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			height: var(--i-l);
			padding: var(--p-s) 0;
			color: var(--primary);
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
