.Header {
	height: var(--header-h);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary);
	padding: 0 var(--p-l);

	.appsettings {
		display: flex;
		justify-self: center;
		align-items: center;
		gap: var(--g-s);
	}
}
