.Header {
	height: var(--header-h);
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	background-color: var(--primary);
	position: relative;
	padding: 0 var(--p-l);
	border-bottom: 1px solid var(--secondary);

	&__nav {
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		list-style-type: none;
		font-size: var(--t-s);
	}

	&__listItem {
		a {
			color: var(--secondary);
			text-decoration: none;
		}
	}

	&__appsettings {
		display: flex;
		justify-self: flex-end;
		align-items: center;
		gap: var(--g-l);
	}

	&__mobileSettings {
		display: flex;
		justify-content: space-between;
		align-items: center;
		display: none;
		gap: var(--g-l);
	}

	&__menuButton {
		width: var(--i-m);
		height: var(--i-m);
		background-color: transparent;
		display: none;

		svg {
			fill: var(--secondary);
			width: var(--i-m);
			height: var(--i-m);
		}
	}
}

@media screen and (max-width: 1000px) {
	.Header {
		gap: var(--g-l);

		a {
			svg {
				width: var(--i-m);
				height: var(--i-m);
			}
		}

		&__nav {
			appearance: none;
		}

		&__list {
			font-size: var(--t-xs);
		}

		&__appsettings {
			gap: var(--g-s);
			a {
				svg {
					width: var(--i-s);
					height: var(--i-s);
				}
			}
		}
	}
}

@media screen and (max-width: 770px) {
	.Header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__mobileSettings {
			display: flex;
		}

		&__menuButton {
			display: block;
		}

		&__nav,
		&__appsettings {
			display: none;
		}
	}
}

@media screen and (max-width: 300px) {
	.Header {
		&__mobileSettings {
			gap: var(--g-s);
		}
	}
}
