.Header {
	height: var(--header-h);
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	background-color: var(--primary);
	position: relative;
	padding: 0 var(--p-l);
	border-bottom: 1px solid var(--secondary);

	&__nav {
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		list-style-type: none;
		font-size: var(--t-s);
	}

	&__listItem {
		a {
			color: var(--secondary);
			text-decoration: none;
		}
	}

	&__appsettings {
		display: flex;
		justify-self: flex-end;
		align-items: center;
		gap: var(--g-l);
	}
}
