.Search {
	display: flex;
	align-items: center;

	input,
	button {
		border: none;
		height: var(--i-m);
		background-color: var(--secondary);
		padding: var(--p-s);
		border-radius: var(--br);
	}

	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 30rem;
		font-family: "Ubuntu", sans-serif;
	}

	input:focus {
		outline: none;
		background-color: var(--yellow);
	}

	input::placeholder {
		color: var(--primary);
		opacity: 0.5;
	}

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		svg {
			height: var(--i-s);
			width: 100%;
		}
	}
}
