.Slider {
	height: inherit;
	width: inherit;

	&__window {
		height: inherit;
		overflow: hidden;
		width: inherit;
		position: relative;

		button {
			cursor: pointer;
			position: absolute;
			height: 100%;
			width: var(--i-l);
			background-color: transparent;
			border: none;
			z-index: 10;

			svg {
				fill: var(--secondary);
				height: var(--i-s);
				width: var(--i-s);
			}
		}
	}

	&__forward {
		right: 0;
	}

	&__backward {
		left: 0;
		transform: rotate(180deg);
	}

	&__images {
		display: flex;
		transition-duration: 500ms;

		a {
			display: inline-block;
			height: var(--body-h);
			width: 100%;
		}
	}

	&__image {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
	}
}
